In [1]:
#importing needed packages
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#importing data files
basket = pd.read_csv('basket.csv', names=('name','nickname','number','team','position','scored points','rebounds','assists'))
hand = pd.read_csv('hand.csv', names=('name','nickname','number','team','position','goals made','goals received'))

In [5]:
#loading first five recoreds for basketball teams
basket.head()

   name     nickname  number team position  scored points  rebounds  assists
0     1   abdulrazak       4    A        G             10         2        7
1     2  abdulrahman       8    A        F              0        10        0
2     3  abdulraqeeb      15    A        C             15        10        4
3     4     mohammed      16    B        G             20         0        0
4     5        feras      23    B        F              4         7        7

In [6]:
#loading first five recoreds for handball teams
hand.head()

   name     nickname  number team position  goals made  goals received
0     1   abdulrazak       4    A        G           0              20
1     2  abdulrahman       8    A        F          15              20
2     3  abdulraqeeb      15    A        F          10              20
3     4     mohammed      16    B        G           1              25
4     5        feras      23    B        F          12              25

In [96]:
'''
basketball equations we will use: guards(n*2 + n*3 + n*1),forward(n*2 + n*2 + n*2),center(n*2 + n*1 + n*3),
and n = [scored point, rebounds, assists]

handball equations we will use: goal keeper(50 + n*5 - n*(-2)),field player(n*20 + n*1 - n*(-1))
n = [goals made, goals recived]
'''

#for extracting and implementing the equations we should first .loc the needed colmuns,
#first lets implement the equation for goalkeepers
goalKeeper = basket.loc[basket['position'] == 'G']
goalKeeper['rating points'] = goalKeeper['scored points'].values*2 + goalKeeper['rebounds'].values*3 + goalKeeper['assists'].values*1

#second lets implement the equation for forwardplayers
forwardPlayer = basket.loc[basket['position'] == 'F']
forwardPlayer['rating points'] = forwardPlayer['scored points'].values*2 + forwardPlayer['rebounds'].values*2 + forwardPlayer['assists'].values*2

#last lets implement the equation for centerplayers
centerPlayer = basket.loc[basket['position'] == 'C']
centerPlayer['rating points'] = centerPlayer['scored points'].values*2 + centerPlayer['rebounds'].values*1 + centerPlayer['assists'].values*3

<ipython-input-96-14a9e89e4d40>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  goalKeeper['rating points'] = goalKeeper['scored points'].values*2 + goalKeeper['rebounds'].values*3 + goalKeeper['assists'].values*1
<ipython-input-96-14a9e89e4d40>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forwardPlayer['rating points'] = forwardPlayer['scored points'].values*2 + forwardPlayer['rebounds'].values*2 + forwardPlayer['assists'].values*2
<ipython-input-96-14a9e89e4d40>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  centerPlayer['rating points'] = centerPlayer['scored points'].values*2 + centerPlayer['rebounds'].values*1 + centerPlayer['assists'].values*3

In [97]:
#lets see the results for goalkeepers, forwardsplayers and centerplayers
display(goalKeeper,forwardPlayer,centerPlayer)

,name,nickname,number,team,position,scored points,rebounds,assists,total,rating points
0,1,abdulrazak,4,A,G,10,2,7,,33
3,4,mohammed,16,B,G,20,0,0,,40

,name,nickname,number,team,position,scored points,rebounds,assists,total,rating points
1,2,abdulrahman,8,A,F,0,10,0,,20
4,5,feras,23,B,F,4,7,7,,36

,name,nickname,number,team,position,scored points,rebounds,assists,total,rating points
2,3,abdulraqeeb,15,A,C,15,10,4,,52
5,6,tymor,42,B,C,8,10,0,,26

In [113]:
#lets merge all datas tigether
data = pd.concat([goalKeeper,forwardPlayer,centerPlayer])
#lets see the dataset
data.head()

,name,nickname,number,team,position,scored points,rebounds,assists,total,rating points
0,1,abdulrazak,4,A,G,10,2,7,,33
3,4,mohammed,16,B,G,20,0,0,,40
1,2,abdulrahman,8,A,F,0,10,0,,20
4,5,feras,23,B,F,4,7,7,,36
2,3,abdulraqeeb,15,A,C,15,10,4,,52

In [114]:
#now lets see each team alone
team1 = data.loc[data['team'] == 'A']
print('Team A')
display(team1)
print('\n')
team2 = data.loc[data['team'] == 'B']
print('Team B')
display(team2)

Team A

,name,nickname,number,team,position,scored points,rebounds,assists,total,rating points
0,1,abdulrazak,4,A,G,10,2,7,,33
1,2,abdulrahman,8,A,F,0,10,0,,20
2,3,abdulraqeeb,15,A,C,15,10,4,,52

Team B

,name,nickname,number,team,position,scored points,rebounds,assists,total,rating points
3,4,mohammed,16,B,G,20,0,0,,40
4,5,feras,23,B,F,4,7,7,,36
5,6,tymor,42,B,C,8,10,0,,26

In [115]:
#now lets see the winner team
team1['total points'] = team1['scored points'].sum()
team2['total points'] = team2['scored points'].sum()

display(team1)
display(team2)

<ipython-input-115-029712fa19a2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team1['total points'] = team1['scored points'].sum()
<ipython-input-115-029712fa19a2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team2['total points'] = team2['scored points'].sum()

,name,nickname,number,team,position,scored points,rebounds,assists,total,rating points,total points
0,1,abdulrazak,4,A,G,10,2,7,,33,25
1,2,abdulrahman,8,A,F,0,10,0,,20,25
2,3,abdulraqeeb,15,A,C,15,10,4,,52,25

,name,nickname,number,team,position,scored points,rebounds,assists,total,rating points,total points
3,4,mohammed,16,B,G,20,0,0,,40,32
4,5,feras,23,B,F,4,7,7,,36,32
5,6,tymor,42,B,C,8,10,0,,26,32

In [117]:
#we saw that team B is the winner team with total 32 scored points against team A with 25 points,
final_data = pd.concat([team1,team2])
final_data

,name,nickname,number,team,position,scored points,rebounds,assists,total,rating points,total points
0,1,abdulrazak,4,A,G,10,2,7,,33,25
1,2,abdulrahman,8,A,F,0,10,0,,20,25
2,3,abdulraqeeb,15,A,C,15,10,4,,52,25
3,4,mohammed,16,B,G,20,0,0,,40,32
4,5,feras,23,B,F,4,7,7,,36,32
5,6,tymor,42,B,C,8,10,0,,26,32

In [127]:
#now lets see the best mvp in the match
final_data[final_data['rating points']==final_data['rating points'].max()]

,name,nickname,number,team,position,scored points,rebounds,assists,total,rating points,total points
2,3,abdulraqeeb,15,A,C,15,10,4,,52,25

In [ ]:
#the conclusion is that the winner team is TEAM B with total of 32 points and,
#the MVP player is abdulraqeeb with raiting point 52!