In [1]:
#importing needed packages
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#importing data files
basket = pd.read_csv('data/basket.csv', names=('name','nickname','number','team','position','scored points','rebounds','assists'))

hand = pd.read_csv('data/hand.csv', names=('name','nickname','number','team','position','goals made','goals received'))

In [128]:
#loading first five recoreds for basketball teams
display(basket.head())
#loading first five recoreds for handball teams
display(hand.head())

,name,nickname,number,team,position,scored points,rebounds,assists,total
0,1,abdulrazak,4,A,G,10,2,7,
1,2,abdulrahman,8,A,F,0,10,0,
2,3,abdulraqeeb,15,A,C,15,10,4,
3,4,mohammed,16,B,G,20,0,0,
4,5,feras,23,B,F,4,7,7,

   name     nickname  number team position  goals made  goals received
0     1   abdulrazak       4    A        G           0              20
1     2  abdulrahman       8    A        F          15              20
2     3  abdulraqeeb      15    A        F          10              20
3     4     mohammed      16    B        G           1              25
4     5        feras      23    B        F          12              25

In [134]:
'''
basketball equations we will use: guards(n*2 + n*3 + n*1),forward(n*2 + n*2 + n*2),center(n*2 + n*1 + n*3),
and n = [scored point, rebounds, assists]
'''
#BASKETBALL
#for extracting and implementing the equations we should first .loc the needed colmuns,
#first lets implement the equation for goalkeepers
guardPlayer = basket.loc[basket['position'] == 'G']
guardPlayer['rating points'] = guardPlayer['scored points'].values*2 + guardPlayer['rebounds'].values*3 + guardPlayer['assists'].values*1

#second lets implement the equation for forwardplayers
forwardPlayer = basket.loc[basket['position'] == 'F']
forwardPlayer['rating points'] = forwardPlayer['scored points'].values*2 + forwardPlayer['rebounds'].values*2 + forwardPlayer['assists'].values*2

#last lets implement the equation for centerplayers
centerPlayer = basket.loc[basket['position'] == 'C']
centerPlayer['rating points'] = centerPlayer['scored points'].values*2 + centerPlayer['rebounds'].values*1 + centerPlayer['assists'].values*3

<ipython-input-134-d4a34bd246ff>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  guardPlayer['rating points'] = guardPlayer['scored points'].values*2 + guardPlayer['rebounds'].values*3 + guardPlayer['assists'].values*1
<ipython-input-134-d4a34bd246ff>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forwardPlayer['rating points'] = forwardPlayer['scored points'].values*2 + forwardPlayer['rebounds'].values*2 + forwardPlayer['assists'].values*2
<ipython-input-134-d4a34bd246ff>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  centerPlayer['rating points'] = centerPlayer['scored points'].values*2 + centerPlayer['rebounds'].values*1 + centerPlayer['assists'].values*3

In [141]:
'''
handball equations we will use: goal keeper(50 + n*5 - n*2,field player(20 + n*1 - n*1), n = [goals made, goals recived]
'''
#HANDBALL
#for extracting and implementing the equations we should first .loc the needed colmuns,
#first lets implement the equation for goalkeepers
goalKeeper = hand.loc[hand['position'] == 'G']
goalKeeper['rating points'] = 50 + goalKeeper['goals made'].values*5 - goalKeeper['goals received'].values*2

#second lets implement the equation for forwardplayers
fieldPlayer = hand.loc[hand['position'] == 'F']
fieldPlayer['rating points'] = 20 + fieldPlayer['goals made'].values*1 - fieldPlayer['goals received'].values*1

<ipython-input-141-383fb0e5c171>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  goalKeeper['rating points'] = 50 + goalKeeper['goals made'].values*5 - goalKeeper['goals received'].values*2
<ipython-input-141-383fb0e5c171>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fieldPlayer['rating points'] = 20 + fieldPlayer['goals made'].values*1 - fieldPlayer['goals received'].values*1

In [142]:
#lets see the results for goalKeeper, fieldPlayer
display(guardPlayer,forwardPlayer,centerPlayer)

,name,nickname,number,team,position,scored points,rebounds,assists,total,rating points
0,1,abdulrazak,4,A,G,10,2,7,,33
3,4,mohammed,16,B,G,20,0,0,,40

,name,nickname,number,team,position,scored points,rebounds,assists,total,rating points
1,2,abdulrahman,8,A,F,0,10,0,,20
4,5,feras,23,B,F,4,7,7,,36

,name,nickname,number,team,position,scored points,rebounds,assists,total,rating points
2,3,abdulraqeeb,15,A,C,15,10,4,,52
5,6,tymor,42,B,C,8,10,0,,26

In [143]:
#lets see the results for goalkeepers, forwardsplayers and centerplayers
display(goalKeeper,fieldPlayer)

,name,nickname,number,team,position,goals made,goals received,rating points
0,1,abdulrazak,4,A,G,0,20,10
3,4,mohammed,16,B,G,1,25,5

,name,nickname,number,team,position,goals made,goals received,rating points
1,2,abdulrahman,8,A,F,15,20,15
2,3,abdulraqeeb,15,A,F,10,20,10
4,5,feras,23,B,F,12,25,7
5,6,tymor,42,B,F,8,25,3

In [154]:
#lets merge all datas tigether
basketData = pd.concat([guardPlayer,forwardPlayer,centerPlayer])
handData   = pd.concat([goalKeeper,fieldPlayer])
#lets see the dataset
display(basketData.head())
display(handData.head())

,name,nickname,number,team,position,scored points,rebounds,assists,total,rating points
0,1,abdulrazak,4,A,G,10,2,7,,33
3,4,mohammed,16,B,G,20,0,0,,40
1,2,abdulrahman,8,A,F,0,10,0,,20
4,5,feras,23,B,F,4,7,7,,36
2,3,abdulraqeeb,15,A,C,15,10,4,,52

,name,nickname,number,team,position,goals made,goals received,rating points
0,1,abdulrazak,4,A,G,0,20,10
3,4,mohammed,16,B,G,1,25,5
1,2,abdulrahman,8,A,F,15,20,15
2,3,abdulraqeeb,15,A,F,10,20,10
4,5,feras,23,B,F,12,25,7

In [155]:
#now lets see each of basket teams alone
basketTeam1 = basketData.loc[basketData['team'] == 'A']
print('Team A')
display(basketTeam1)
print('\n')
basketTeam2 = basketData.loc[basketData['team'] == 'B']
print('Team B')
display(basketTeam2)

Team A

,name,nickname,number,team,position,scored points,rebounds,assists,total,rating points
0,1,abdulrazak,4,A,G,10,2,7,,33
1,2,abdulrahman,8,A,F,0,10,0,,20
2,3,abdulraqeeb,15,A,C,15,10,4,,52

Team B

,name,nickname,number,team,position,scored points,rebounds,assists,total,rating points
3,4,mohammed,16,B,G,20,0,0,,40
4,5,feras,23,B,F,4,7,7,,36
5,6,tymor,42,B,C,8,10,0,,26

In [156]:
#now lets see each of basket teams alone
handTeam1 = handData.loc[handData['team'] == 'A']
print('Team A')
display(handTeam1)
print('\n')
handTeam2 = handData.loc[handData['team'] == 'B']
print('Team B')
display(handTeam2)

Team A

,name,nickname,number,team,position,goals made,goals received,rating points
0,1,abdulrazak,4,A,G,0,20,10
1,2,abdulrahman,8,A,F,15,20,15
2,3,abdulraqeeb,15,A,F,10,20,10

Team B

,name,nickname,number,team,position,goals made,goals received,rating points
3,4,mohammed,16,B,G,1,25,5
4,5,feras,23,B,F,12,25,7
5,6,tymor,42,B,F,8,25,3

In [157]:
#now lets see the winner team on basketball
basketTeam1['total points'] = basketTeam1['scored points'].sum()
basketTeam2['total points'] = basketTeam2['scored points'].sum()

display(basketTeam1)
display(basketTeam2)

<ipython-input-157-178196044a20>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  basketTeam1['total points'] = basketTeam1['scored points'].sum()
<ipython-input-157-178196044a20>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  basketTeam2['total points'] = basketTeam2['scored points'].sum()

,name,nickname,number,team,position,scored points,rebounds,assists,total,rating points,total points
0,1,abdulrazak,4,A,G,10,2,7,,33,25
1,2,abdulrahman,8,A,F,0,10,0,,20,25
2,3,abdulraqeeb,15,A,C,15,10,4,,52,25

,name,nickname,number,team,position,scored points,rebounds,assists,total,rating points,total points
3,4,mohammed,16,B,G,20,0,0,,40,32
4,5,feras,23,B,F,4,7,7,,36,32
5,6,tymor,42,B,C,8,10,0,,26,32

In [158]:
#now lets see the winner team on handball
handTeam1['total goals'] = handTeam1['goals made'].sum()
handTeam2['total goals'] = handTeam2['goals made'].sum()

display(handTeam1)
display(handTeam2)

<ipython-input-158-a81a6221e501>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  handTeam1['total goals'] = handTeam1['goals made'].sum()
<ipython-input-158-a81a6221e501>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  handTeam2['total goals'] = handTeam2['goals made'].sum()

,name,nickname,number,team,position,goals made,goals received,rating points,total goals
0,1,abdulrazak,4,A,G,0,20,10,25
1,2,abdulrahman,8,A,F,15,20,15,25
2,3,abdulraqeeb,15,A,F,10,20,10,25

,name,nickname,number,team,position,goals made,goals received,rating points,total goals
3,4,mohammed,16,B,G,1,25,5,21
4,5,feras,23,B,F,12,25,7,21
5,6,tymor,42,B,F,8,25,3,21

In [159]:
#BASKETBALL
#we saw that team B is the winner team with total 32 scored points against team A with 25 points,
final_basket_data = pd.concat([basketTeam1,basketTeam2])
final_basket_data

,name,nickname,number,team,position,scored points,rebounds,assists,total,rating points,total points
0,1,abdulrazak,4,A,G,10,2,7,,33,25
1,2,abdulrahman,8,A,F,0,10,0,,20,25
2,3,abdulraqeeb,15,A,C,15,10,4,,52,25
3,4,mohammed,16,B,G,20,0,0,,40,32
4,5,feras,23,B,F,4,7,7,,36,32
5,6,tymor,42,B,C,8,10,0,,26,32

In [160]:
#HANDBALL
#we saw that team A is the winner team with total 25 scored goals against team B with 21 points,
final_hand_data = pd.concat([handTeam1,handTeam2])
final_hand_data

,name,nickname,number,team,position,goals made,goals received,rating points,total goals
0,1,abdulrazak,4,A,G,0,20,10,25
1,2,abdulrahman,8,A,F,15,20,15,25
2,3,abdulraqeeb,15,A,F,10,20,10,25
3,4,mohammed,16,B,G,1,25,5,21
4,5,feras,23,B,F,12,25,7,21
5,6,tymor,42,B,F,8,25,3,21

In [162]:
#BASKETBALL
#now lets see the best mvp in the basketball match
final_basket_data[final_basket_data['rating points']==final_basket_data['rating points'].max()]

,name,nickname,number,team,position,scored points,rebounds,assists,total,rating points,total points
2,3,abdulraqeeb,15,A,C,15,10,4,,52,25

In [163]:
#HANDBALL
#BASKETBALL
#now lets see the best mvp in the handball match
final_hand_data[final_hand_data['rating points']==final_hand_data['rating points'].max()]

,name,nickname,number,team,position,goals made,goals received,rating points,total goals
1,2,abdulrahman,8,A,F,15,20,15,25

In [ ]:
#the conclusion is that the basketball winner team is TEAM B with total of 32 points and,
#the MVP player is abdulraqeeb with raiting point 52!,
#and the handball winner team is TEAM A with total of 25 goals and,
#the MVP player is abdulrahman with raiting point 15!